html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#sidebar {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#sidebar .d-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #2B2D31;
}

#sidebar .sidebar-header {
    background-color: #232428;
    padding: 20px;
}

#sidebar .sidebar-header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#sidebar .icon-background {
    width: 40px;
    height: 40px;
    background-color: #5865F2;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar .icon-background img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

#sidebar .sidebar-header span {
    font-size: 26px;
    margin-left: 10px;
    color: white;
}

#sidebar .nav-item {
    width: 100%;
    margin-bottom: 10px;
}

#sidebar .nav-link {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#sidebar .nav-link:hover {
    background-color: #495057;
}

#sidebar .nav-link i {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .nav-link span {
    margin-left: 20px;
    font-size: 1rem;
}

#sidebar hr.sidebar-hr {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
}

#sidebar .user-profile {
    margin-top: auto;
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232428;
    flex-shrink: 0;
}

#sidebar .user-info {
    display: flex;
    align-items: center;
}

#sidebar .user-profile img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    object-fit: cover;
}

#sidebar .user-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#sidebar .user-id {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#sidebar .exit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#sidebar .exit-icon {
    width: 12px;
    height: 14px;
    display: block;
    object-fit: contain;
}